:root {
    box-sizing: border-box;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    --primary-color: #363636;
    --secondary-color: #f9f9f9;
    --accent-color: #fff;
    
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

