:root {
    box-sizing: border-box;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    --primary-color: #000000;
    --secondary-color: #FAFAFA;
    --accent-color: #E0BB20;
    --cta-color: #841818;
    
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

